* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    font-size: 12px;
}

input[type="text"] {
    font-family: inherit;
    font-size: 100%;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.main > div {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.sidebar {
    background-color: #00bfff;
    color: white;
    font-weight: bold;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

ul {
    list-style-type: none;
    display: grid;
    justify-items: start;
}

.second-list {
    margin-top: 30px;
}

.first-list, .second-list {
    font-size: 20px;
}

.logo-icon > img {
    width: 30px;
    height: 30px;
}

.logo-text {
    justify-self: start;
    text-align: start;
}

.main-logo {
    display: grid;
    grid-auto-flow: column;
}

.list-item-logo {
    padding-right: 15px;
}

.list-item-logo > img {
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}


.search {
    padding-top: 10px;
}

.search-field {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    width: 40vw;
}

.search img {
    width: 35px;
    height: 35px;
    vertical-align:middle
}



.header-first-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.notifications {
    display: grid;
    justify-items: end;
    grid-auto-flow: column;
    justify-content: center;
    gap: 12px;
}

.notify-icon > img {
    width: 50px;
    height: 50px;
}

.notification-profile {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.notification-profile > img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.notification-profile-name {
    font-weight: bold;
    vertical-align:super;
    font-size: 20px;
    align-self: center;
}

.header-second-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    margin-top: 30px;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.profile-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: 50px;
}

.profile-icon > img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.greeting, .profile-name {
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
}

.profile-name {
    font-size: 20px;
}
.greeting {
    font-size: 15px;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 30px;
    align-items: center;
}

button {
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 18px;
}

.main-content {
    background-color: #d4d3d3;
}